In [1]:
import pandas as pd

In [2]:
pingus = pd.read_csv("penguins_size.csv")
pingus

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [6]:
pingus.columns

Index(['species', 'island', 'culmen_length_mm', 'culmen_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [7]:
# OPERAZIONE DI AGGREGAZIONE, non risente dei valori NAN
pingus["body_mass_g"].mean()

4201.754385964912

In [8]:
pingus["body_mass_g"].std()

801.9545356980954

In [10]:
pingus["body_mass_g"].count()

342

In [11]:
"""
Le colonne categoriche, sono colonne i cui valori appartengono ad un insieme di casi possibili.
"""
pingus["island"].unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [12]:
pingus.island.unique()

array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [14]:
pingus["species"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [17]:
"""
Calcolo del peso medio dei pinguini di ogni spece.
COME SI FA:
1) scegliamo un sottoinsieme di colonne
2) poi facciamo il raggruppamento (si fa su colonne di tipo categorico)
3) sulle rimanententi colonne le metti in groupby e lui le aggrega
Tutte queste operazioni si possono anche effettuare attraverso delle query con i databse.
"""

pingus[["species", "body_mass_g"]].groupby("species").mean()

           body_mass_g
species
Adelie     3700.662252
Chinstrap  3733.088235
Gentoo     5076.016260

In [20]:
pingus[["species", "body_mass_g", "culmen_length_mm", "sex"]].groupby("species").mean()

           body_mass_g  culmen_length_mm
species
Adelie     3700.662252         38.791391
Chinstrap  3733.088235         48.833824
Gentoo     5076.016260         47.504878

In [19]:
pingus[["species", "body_mass_g", "culmen_length_mm", "sex"]].groupby(["species","sex"]).mean()

                  body_mass_g  culmen_length_mm
species   sex
Adelie    FEMALE  3368.835616         37.257534
          MALE    4043.493151         40.390411
Chinstrap FEMALE  3527.205882         46.573529
          MALE    3938.970588         51.094118
Gentoo    .       4875.000000         44.500000
          FEMALE  4679.741379         45.563793
          MALE    5484.836066         49.473770

In [22]:
"""
Funziona con le colonne categoriche e serve per fare un conteggio delle cagegorie scelte
"""
pingus[["island","species"]].value_counts()

island     species
Biscoe     Gentoo       124
Dream      Chinstrap     68
           Adelie        56
Torgersen  Adelie        52
Biscoe     Adelie        44
dtype: int64

In [23]:
pingus[["island","species","sex"]].value_counts()

island     species    sex
Biscoe     Gentoo     MALE      61
                      FEMALE    58
Dream      Chinstrap  FEMALE    34
                      MALE      34
           Adelie     MALE      28
                      FEMALE    27
Torgersen  Adelie     FEMALE    24
                      MALE      23
Biscoe     Adelie     FEMALE    22
                      MALE      22
           Gentoo     .          1
dtype: int64

In [24]:
pingus["body_mass_k"] = pingus["body_mass_g"]/1000
pingus

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex,body_mass_k
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE,3.75
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE,3.80
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE,3.25
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE,3.45
...,...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE,4.85
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE,5.75
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE,5.20
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE,5.40